/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2021, 14:38:35
    Author     : proberto666
*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	text-align:center;
}

.titleTable{
    background: #eb332c; 
    color: white;
    border: 1.5px solid ;
    border-color: rgb(235,51,44);
}

.elementTable{
    border: 1.5px solid ; 
    border-color: rgb(235,51,44); 
    margin-top: 20px;
}

.bgBlack{
    background-color: black;
}

.inputValue{
    border:none;
    border-bottom:1px solid black;  
}

.caja {
   margin:20px auto 40px auto;	
   border:1px solid black;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background: transparent;
   border: black;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:black;
        color: white;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}